@model AccountUploadModel
@{
	var formObj = new { enctype = "multipart/form-data" };
}
<div class="container">
	<div class="row">
		<div class="twelvecol">
			@using ( Html.BeginForm("Upload", "Account", FormMethod.Post, formObj) ) {
				@Html.ValidationSummary(true, "Photo upload did not occur.")
				<div class="form">
					<div class="label">
						<b>@Html.LabelFor(m => m.SelectedAlbumId)</b>
					</div>
					<div class="field">
						@Html.DropDownListFor(x => x.SelectedAlbumId, Model.AlbumItems, "")
						@Html.ValidationMessageFor(x => x.SelectedAlbumId)
					</div>
					<div class="label">
						<b>@Html.LabelFor(m => m.Files)</b>
					</div>
					<div class="field">
						@Html.TextBoxFor(m => m.Files, new { type="file", multiple="true" })<br/>
						@Html.ValidationMessageFor(m => m.Files)
					</div>
					<input type="submit" class="submit" value="Send" />
				</div>
			}
		</div>
	</div>
</div>