@model PhotoIndexModel
@{
	WebPhoto p = Model.Photo;
	var prevLink = new ActionLinkModel<PhotoController>(x => x.Index(Model.PrevPhotoId), "Previous");
	var nextLink = new ActionLinkModel<PhotoController>(x => x.Index(Model.NextPhotoId), "Next");
	var albumLink = new ActionLinkModel<PhotosController>(x => x.Albums(p.AlbumId), p.AlbumName);
	
	string exposure = (p.ExifExposureTime >= 1 ? p.ExifExposureTime+"" :
		"1/"+Math.Round(1/p.ExifExposureTime));
	/*string tagsLbl = "";

	for ( int ti = 0 ; ti < Model.Tags.Count ; ++ti ) {
		Tag tag = Model.Tags[ti];
		tagsLbl += (ti > 0 ? ", " : "")+
			"<a href=\""+Url.Content("~/Photos/Tag/"+tag.Id)+"\">"+tag.Name+"</a>";
	}

	if ( tagsLbl == "" ) { tagsLbl = "<em>None</em>"; }*/
}
<div class="container">
	<div class="row">
		<div class="ninecol" style="text-align: center;">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="ninecol mainPhotoCol">
			<div class="hold">
				<img id="mainPhoto" src="@Model.Photo.ImageUrl" alt="@Model.Photo.ImgName" />
			</div>
		</div>
		<div class="threecol last">
			<div style="padding-left:10px;">
				<p>
					<b>Photo Set</b><br />
					Viewing photo @(Model.PhotoIndex+1) of @Model.PhotoCount<br/>
					
					@if ( Model.PhotoCount > 1 ) {
						if ( Model.PrevPhotoId == -1 ) { <span>Previous</span> }
						else { @Html.ActionLink(prevLink); }
						<span>|</span>
						if ( Model.NextPhotoId == -1 ) { <span>Next</span> }
						else { @Html.ActionLink(nextLink); }
						<br/>
					}
					
					<br />
					<b>From Album</b><br />
					@Html.ActionLink(albumLink)<br/>

					<br/>
					<b>Date Taken</b><br />
					@p.ExifDtOrig.ToString("dddd, MMMM d, yyyy @ h:mm:ss tt EST")<br />
					<br />
					
					@if ( Model.Photo.Favorite > 0 ) {
						<span>This photo is a Favorite.</span><br /><br />
					}
					
					<b>Details</b><br />
					Focal Length: @(p.ExifFocalLength)mm<br />
					Exposure: @exposure sec<br />
					F-Stop: f/@p.ExifFNumber<br />
					ISO Speed: @p.ExifIsoSpeed<br />
					Filename: @p.ImgName<br />
				</p>
			</div>
		</div>
	</div>
</div>
