@model GalleryModel	
@{
	var homeLink = new ActionLinkModel<HomeController>(x => x.Index(), "Kinstner Photo Gallery");
	var acctLink = new ActionLinkModel<AccountController>(x => x.Index(), "account");
	var fabSess = Model.GallerySession.Fabric.PersonSession;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>@Model.HtmlPageTitle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="@Url.Content("~/Content/styles/ie.css")" type="text/css" media="screen" />
	<![endif]-->
	<link rel="stylesheet" href="@Url.Content("~/Content/styles/1140.css")" type="text/css" media="screen" />
	<link rel="stylesheet" href="@Url.Content("~/Content/styles/gallery.css")" type="text/css" media="screen" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/css3-mediaqueries.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/gallery.js")"></script>
</head>
	<body>
		<div class="container topMenu">
			<div class="row">
				<div class="sixcol title">
					 @Html.ActionLink(homeLink)
				</div>
				<div class="sixcol last items">
					@if ( fabSess.IsAuthenticated ) {
						@Html.ActionLink(acctLink, @Model.GallerySession.ActiveUser.Name)
					}
					else {
						<a href="#" onclick="@fabSess.GetGrantWindowOpenScript()">login</a>
					}
				</div>
			</div>
		</div>
		@RenderBody()
		<div class="container footer">
			<div class="row">
				<div class="twelvecol">
					<p>
						All photos and content © Zach Kinstner 2010 - @DateTime.Now.Year.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
